Source: gnome-shell-pomodoro
Maintainer: Joseph HERLANT <herlantj@gmail.com>
Section: gnome
Priority: optional
Build-Depends:
 debhelper (>= 8.0.0),
 gnome-common,
 intltool,
 libglib2.0-dev,
Standards-Version: 3.9.5
Homepage: https://github.com/codito/gnome-shell-pomodoro/
Vcs-Browser: https://github.com/aerostitch/gnome-shell-pomodoro-debian.git

Package: gnome-shell-pomodoro
Architecture: all
Depends:
 gnome-shell (<< 3.9),
 gnome-shell (>= 3.7),
 ${misc:Depends},
 ${shlibs:Depends}
Description: GNOME Shell time-management app
 This GNOME Shell app helps you to manage time according to the
 pomodoro technique.
 .
 Features:
  * puts a countdown timer in the GNOME Shell top panel;
  * nags you with reminders about taking a break;
  * uses full screen notifications that can be easily dismissed;
  * hides other notifications until the start of the break;
  * sets your IM (Empathy) status to "busy".
 .
 The pomodoro technique is a time and focus management method which improves
 productivity and quality of work. The name comes from a kitchen timer, which
 can be used to keep track of time. In short, you are supposed to focus on work
 for around 25 minutes and then have a well deserved break in which you should
 relax. Then when this cycle repeats for the fourth time you should take a
 longer break (have a walk or something).
